<html>
    <head></head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>


    <body>
        아이디 : <input type="text" readonly value="<%=data.username%>">
        이메일 : <input type="text" readonly value="<%=data.email%>">
        휴대폰 : <input type="text" readonly value="<%=data.phone%>">

      <div class="text-center mt-3">
        <button class="btn btn-warning" onclick="location.href ='/user/'">목록</button>
        <!-- <button class="btn btn-warning" onclick="location.href ='/main/modify/<%= data.bbsNo %>'">수정</button> -->
      </div>
 </body>
</html>